<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    
    <link href="css/app.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/swipe.min.js"></script>
    <script src="js/main.js"></script>
    
  </head>

  <body>
    <div ng-controller="MyCtrl">          
          <!-- <div class="animate-switch-container"
            ng-switch on="imgSrc" ng-swipe-up ng-swipe-down ng-swipe-left ng-swipe-right>              
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/1-1.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/1-2.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/1-3.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/1-4.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/2-1.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/2-2.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/2-3.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/2-4.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/3-1.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/3-2.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/3-3.jpg">
              <img ng-src="{{imgSrc}}" ng-class="slideDir" ng-switch-when="images/3-4.jpg">
          </div>     -->
          <div ng-swipe-up ng-swipe-down ng-swipe-left ng-swipe-right>
            <img ng-repeat="imgPath in imgArr" ng-src="{{imgSrc}}" ng-class="slideDir" height="1280" height="720" ng-if="imgPath == imgSrc">
          </div>
    </div>
  </body>
</html>
